<footer class="container-fluid footer">
    <div class="row">
        <p class="footerCopyright">
            Copyright &copy; by Team-13@Thiefrag from HCMUS of IOT Course
        </p>
    </div>
</footer>