<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 style="text-align: center;"><span style="color: #ff0000;"><strong>***FBI WARNING***</strong></span></h2><p><strong>CẢNH B&Aacute;O!!! CẢNH B&Aacute;O!!!</strong></p><p>C&oacute; một ai đ&oacute; đang đột nhập v&agrave;o nh&agrave; bạn.</p><div class="gs"><div class=""><div id=":q5" class="ii gt"><div id=":ot" class="a3s aiL "><p>Vui l&ograve;ng truy cập v&agrave;o link n&agrave;y để biết th&ecirc;m chi tiết: <a href="http://thiefrag.ddns.net/login" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://thiefrag.ddns.net/login&amp;source=gmail&amp;ust=1619583068968000&amp;usg=AFQjCNEotFFSU6yRMMefJO4hY5ZNy0yEow">http://thiefrag.ddns.net</a></p><p><span style="text-decoration: underline;"><strong>ThiefragDevice_SMTP</strong></span></p></div></div></div></div>
</body>
</html>