{{#section 'css'}}
<style>
    :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: .75rem;
    }

    #settingsPage {
        min-height: calc(100vh - (80px + 60px));
        display: flex;
        align-items: center;
        margin: 0px 0px 80px;
    }

    .form-settings .btn {
        border-color: #132c33;
        background: #132c33;
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        float: right;
        padding: 1rem;
        transition: all 0.2s;
    }

    .form-group {
        border-radius: 2rem;
        padding: 1.5rem 0rem;
    }

    .form-group input {
        font-size: 1.25rem;
    }

    .form-check {
        padding: 1.5rem 0rem;
    }

    /* ************** SWITCH ***************/
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #132c33;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #126e82;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #126e82;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
{{/section}}

{{#section 'js'}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    const inputIODevice = jQuery("#switchIODevice");
    const inputIOAutomatic = jQuery("#switchIOAutomatic");
    jQuery(document).ready(function () {
        inputIODevice.prop('checked', inputIODevice.val() === "true");
        inputIOAutomatic.prop('checked', inputIOAutomatic.val() === "true");
        IODeviceChange();
    });
    function OnClickSave() {
        event.preventDefault();
        const IODevice = inputIODevice.is(":checked");
        const IOAutomatic = inputIOAutomatic.is(":checked");
        $.post("/settings", {
            IODevice: IODevice === true ? "on" : "off",
            IOAutomatic: IOAutomatic === true ? "on" : "off"
        }, function (err, data) {
                if (err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: err
                    })
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Save successfully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
        });
    }
    function IODeviceChange() {
        const IODevice = inputIODevice.is(":checked");
        if (IODevice) {
            inputIOAutomatic.removeAttr("disabled");
            jQuery("#sliderIOAutomatic").css("background-color", "");
        } else {
            jQuery("#sliderIOAutomatic").css("background-color", "grey");
            inputIOAutomatic.attr("disabled", true);
        }
    }
</script>
{{/section}}

<div class="container-fluid justify-content-center" id="settingsPage">
    <div class="row d-flex justify-content-center w-100">
        <div class="d-flex flex-column align-items-center w-100">

            <p class="h5 text-uppercase font-weight-bold">
                Thiết lập
            </p>

            <form class="form-settings w-100">

                <div class="form-check d-flex justify-content-between align-items-center">
                    <p class="h5 form-check-label">
                        Bật/Tắt thiết bị
                    </p>
                    <label class="switch">
                        <input type="checkbox" value="{{IODevice}}" id="switchIODevice" onchange="IODeviceChange()">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="form-check d-flex justify-content-between align-items-center">
                    <p class="h5 form-check-label">
                        Bật/Tắt chế độ tự động
                    </p>
                    <label class="switch">
                        <input type="checkbox" value="{{IOAutomatic}}" id="switchIOAutomatic">
                        <span class="slider round" id="sliderIOAutomatic"></span>
                    </label>
                </div>

                <div class="form-group">
                    <input type="text" id="disabledEmailInput" class="form-control" placeholder="phuquyen1504@gmail.com" disabled>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="OnClickSave()">
                    Lưu
                </button>

            </form>

        </div>
    </div>
</div>