{{#section 'css'}}
<style>
    :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: .75rem;
    }

    #changePasswordPage {
        min-height: calc(100vh - (80px + 60px));
        display: flex;
        align-items: center;
        margin: 0px 0px 80px;
    }

    .form-change-password .btn {
        border-color: #132c33;
        background: #132c33;
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        float: right;
        padding: 1rem;
        transition: all 0.2s;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .form-label-group input {
        height: auto;
        border-radius: 2rem;
    }

    .form-label-group>input,
    .form-label-group>label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group>label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }
</style>
{{/section}}

{{#section 'js'}}
    <!-- SELF-DEFINED SCRIPTS -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function DisplayError(message) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: message
            })
        }
        function CheckDataValid() {
            console.log("Here");
            event.preventDefault();
            const oldPassword = jQuery("#inputOldPassword").val();
            const newPassword = jQuery("#inputNewPassword").val();
            const confirmPassword = jQuery("#reInputNewPassword").val();
            if (oldPassword.length === 0 || newPassword.length === 0 || confirmPassword.length === 0)
                return;
            if (newPassword !== confirmPassword) {
                DisplayError("Please make sure your passwords match");
                return;
            }
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('/changepassword', {
                        oldPassword: oldPassword,
                        newPassword: newPassword
                    }, function (err, data) {
                        if (err) {
                            console.log("Error");
                            DisplayError(err);
                        } else {
                            Swal.fire(
                                'Changed!',
                                'Your password has been changed.',
                                'success'
                            ).then(() => {
                                location.reload();
                            });
                        }
                    });
                }
            })

        }
    </script>
{{/section}}

<div class="container-fluid justify-content-center" id="changePasswordPage">
    <div class="row d-flex justify-content-center w-100">
        <div class="d-flex flex-column align-items-center w-100">

            <p class="h5 text-uppercase font-weight-bold">
                Đổi mật khẩu
            </p>

            <form class="form-change-password w-100">

                <div class="form-label-group">
                    <input name="password" type="password" id="inputOldPassword" class="form-control"
                        placeholder="Password" required autofocus>
                    <label for="inputOldPassword">Mật khẩu cũ</label>
                </div>

                <div class="form-label-group">
                    <input name="password" type="password" id="inputNewPassword" class="form-control"
                        placeholder="Password" required>
                    <label for="inputNewPassword">Mật khẩu mới</label>
                </div>

                <div class="form-label-group">
                    <input name="password" type="password" id="reInputNewPassword" class="form-control"
                        placeholder="Password" required>
                    <label for="reInputNewPassword">Nhập lại mật khẩu mới</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="CheckDataValid()">
                    Đổi mật khẩu
                </button>

            </form>

        </div>
    </div>
</div>